/* Styles.css */
/* MAIN ELEMENTS */
body {
    background-color: lightblue;
}

/* CLASSES */
.container{
    display: inline-block;
    margin-left: 10px;
    width: 1000px;
}
.container-right{
    display: inline-block;
    margin-right: 10px;
    width: 100px;
}
.container-left{
    display: inline-block;
    margin-right: 10px;
}
.nameheader{
    text-align: center;
    padding-top: 2em;
}
.subheader{
    text-align: center;
    padding-top: 1.5px;
    padding-bottom: 3em;
}

