/* Styles.css */
/* MAIN ELEMENTS */
body {
    background-color: lightblue;
}

/* CLASSES */
.container-left{
    float: left;
    margin-left: 10em;
}
.container-right{
    float: right;
    margin-right: 10em;
}
.nameheader{
    text-align: center;
    padding-top: 2em;
}
.subheader{
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 3em;
}
.container-inner{
    display: block;
}
