/* Styles.css */
/* MAIN ELEMENTS */
body {
    background-color: lightblue;
}
img{
    border-radius: 50%;
}

/* CLASSES */
.container{
    display: inline-block;
    margin-left: 10px;
    width: 1500px;
}
.container-right{
    display: inline-block;
    margin-right: 10px;
    width: 250px;
    padding-bottom: 50px;
    padding-left: 20px;
}
.container-left{
    display: inline-block;
    margin-left: 10em;
}
.nameheader{
    text-align: center;
    padding-top: 2em;
    color: black;
}
.subheader{
    text-align: center;
    padding-top: 1.5px;
    padding-bottom: 3em;
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 39, 56);
    color: white;
    text-align: center;
  }

/* IDS */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(59, 59, 189); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#header li {
    float: left;
    font-size: 30px;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

#header li a:hover {
    background-color: #111;
}
