/* Styles.css */
/* MAIN ELEMENTS */
body {
    background-color: lightblue;
}

/* CLASSES */
.container{
    float: left;
    margin-left: 50em;
}
.nameheader{
    text-align: center;
    padding-top: 20em;
}
.subheader{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 20em;
}
